{# Load the tag library #}
{% load bootstrap3 %}

{% load static %}
<script src="{% static 'jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'index.js' %}"></script>

{# Load CSS and JavaScript #}
{% bootstrap_css %}
<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<h1>Welcome to Cogaware!</h1>

<h2>Log your mind traps:</h2>

<ul>
  {% buttons %}
  {% for trap in traps %}
  <li>{{ trap.name }}
  <form action="{{ trap.id }}" name="show">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">
      Show
    </button>
  </form>
  <form action="{{ trap.id }}" name="delete">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary" onclick="delete_trap({{ trap.id }})">
      Delete
    </button>
  </form>
  </li>
  {% endfor %}
  {% endbuttons %}
</ul>

<h2>Add a new mind trap here:</h2>

{# Display a form #}
<form action="/traps/" method="post" class="form">
  {% csrf_token %}
  {% buttons %}
    <input type="text" name="trap_name">
    <button type="submit" class="btn btn-primary">
      Add mind trap
    </button>
  {% endbuttons %}
</form>
