{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<h1>Welcome to Cogaware!</h1>

<h2>Log your mind traps:</h2>

<ul>
  {% csrf_token %}
  {% buttons %}
  {% for trap in traps %}
  <li>{{ trap.name }}</li>
  <form action="{{ trap.id }}">
    <button type="submit" class="btn btn-primary">
      Show
    </button>
  </form>
  <form action="{{ trap.id }}/delete">
  <button type="submit" class="btn btn-primary">
    Delete
  </button>
  </form>
  {% endfor %}
  {% endbuttons %}
</ul>

<h2>Add a new mind trap here:</h2>

{# Display a form #}
<form action="/traps" method="post" class="form">
  {% csrf_token %}
  {% buttons %}
    <input type="text" name="trap_name">
    <button type="submit" class="btn btn-primary">
      Add mind trap
    </button>
  {% endbuttons %}
</form>
