{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<h1>Welcome to Cogaware!</h1>

<div>
<hr> </hr>
</div>

<h2>Identify your current  mindtraps:</h2>

<ul>
  {% for trap in traps %}
  <li>{{ trap.name }}</li>
  {% endfor %}
</ul>

<h2>Add a new  mind traps here</h2>

{# Display a form #}
<form action="add" method="post" class="form">
  {% csrf_token %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      Add mind trap
    </button>
  {% endbuttons %}
</form>
