{% load bootstrap3 %}
{% bootstrap_css %}
{% load static %}
<script src="{% static 'jquery-3.3.1.min.js' %}"></script>
{% bootstrap_javascript %}
{% bootstrap_messages %}
<h1>{{ trap.name }}</h1>
<textarea form="desc_form" name="description">{% if trap.description %}{{ trap.description }}{% endif %}
</textarea>
<form action="/traps/{{ trap.id }}" method="post" class="form" id="desc_form">
  {% csrf_token %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% if trap.description %}
      Edit description
      {% else %}
      Add description
      {% endif %}
    </button>
  {% endbuttons %}
</form>
<form action="/traps/">
  <button type="submit" class="btn btn-primary">
    Back
  </button>
</form>
